<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Turn Touch</string>
	<key>CFBundleIdentifier</key>
	<string>com.turntouch.cli</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Turn Touch needs Bluetooth to connect to your remote control.</string>
</dict>
</plist>
